
body {
    font-family: 'Inter', sans-serif;
    background: var(--clr-black);
    color:var(--clr-white);
}

/* Header
=============== */

#header {
    padding:var(--spacing-md) var(--spacing-xl) 0 var(--spacing-xl);
    display: flex;
    justify-content: space-between;
    position: relative;
}

#header .dynamic-text::after {
    content:'Bienvenue';
    animation: text-changing 20s infinite;
}

#header .nav .nav-items {
    list-style:none;
    display: flex;
    align-items: center;
}

#header .nav .nav-items li:first-child {
    padding: 0 1rem;
}

#header .nav .nav-items .nav-item:nth-child(2) {
    margin-left: 1rem;
}

#header .nav .nav-items .nav-item {
    padding-right:1rem;
}

#header .nav .nav-items .nav-link {
    font-weight: 400;
}

#header .logo {
    line-height: 96%;
    vertical-align: bottom;
}

#header .menu-wrapper {
    display: none;
    top:3rem;
    padding:1rem 0;
    position: absolute;
    transition-property: left;
    transition-duration: 200ms;
    z-index: 999;
}

#header .menu {
    display: flex;
    max-width: 450px;
}

#header .menu .aside {
    padding: 1rem;
    background: #146ef5;
    box-shadow: 0px 25px 125px 0px rgba(20,110,245,0.8)
}

#header .menu .content {
    display: flex;
    gap:1rem;
    flex-direction: column;
    padding: 1rem;
    min-width: 350px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
}

#header .menu ul {
    list-style-type: none;
}

@media (max-width:720px) {
    #header .dynamic-text {
        display: none;
    }
}

@keyframes text-changing {
    0%{opacity:1;content:'Bienvenue'}
    23%{opacity:1;color:var(--clr-white)}
    28%{opacity:0;color:var(--clr-white);content:'Bienvenue'}
    29%{opacity:0;content:'Welcome'}
    33%{opacity:1;content:'Welcome';}
    56%{opacity:1;}
    61%{opacity:0;content:'Welcome'}
    62%{opacity:0;content:'Bienvenido'}
    66%{opacity:1;}
    89%{opacity:1;content:'Bienvenido'}
    94%{opacity:0;content:'Bienvenido'}
    95%{opacity:0;content:'Bienvenue'}
    100%{opacity:1;content:'Bienvenue';}
}

@keyframes scrollText {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Home
=============== */

#home {
    margin-top:var(--spacing-xxl);
    padding:var(--spacing-xxl) var(--spacing-xl) 0 var(--spacing-xl);
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    gap:var(--spacing-lg);
}

#home h1 {
    font-size:var(--fs-xl);
    background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
    background-clip: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 1rem;
}

#home .text {
    font-size:var(--fs-sm);
    line-height: 140%;
    color:var(--clr-alto);
    max-width: 720px;
    font-family: Arial, Helvetica, sans-serif;
}

#home .menu .link {
    display: flex;
    min-width: 150px;
    justify-content: space-between;
    align-items: baseline;
}

#home .menu .link p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

#home .primary-btn {
    background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
}

#home .menu .link span {
    font-size: .8rem;
}

@media screen and (max-width:800px){
    #home {
        flex-direction: column;
    }
}

/* Primary Nav
============== */

#primary-nav {
    margin-top:var(--spacing-xxl);
    padding:0 var(--spacing-xl);
    position: relative;
}

#primary-nav .list {
    list-style-type: none;
    position: relative;
}

#primary-nav .list .link {
    font-size:var(--fs-md);
    position: relative;
}

#primary-nav .deco {
    position: absolute;
    display: none;
    left:20px;
    color:var(--clr-cod-gray);
    font-size:var(--fs-xl);
}

/* Skills 
=============== */

#skills {
    padding:0 var(--spacing-xl);
    margin-top:var(--spacing-xxl);
    padding-bottom: var(--spacing-md);
    background: var(--clr-cod-gray);
}

#skills .decoration {
    overflow: hidden;
    display: flex;
}

#skills .title-decoration {
    white-space: nowrap;
    overflow: none;
    padding-top:2rem;
    font-size: var(--fs-xl);
    color:rgba(255,255,255,0.05);
    animation: scrollText 15s linear infinite;
    transition: none;
}

#skills > .subtitle {
    padding-top:1rem;
    margin-bottom:2rem;
    background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
    background-clip: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#skills > .abilities {
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

#skills h3 {
    font-size: var(--fs-md);
    margin-bottom: 1rem;
}

#skills .abilities .container {
    flex:1;
}

#skills .abilities .container .content .text {
    padding-bottom:1rem;
}

#skills .abilities .container .list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap:0.5rem;
}

#skills .attributes .container.p-top{
    padding-top: 2rem;
}

#skills .attributes .container {
    max-width:540px;
}

#skills .attributes {
    padding:2rem 0;
}

@keyframes text-moving {
    100%{transform: translateX(-1190px);}
}

@media (max-width:900px) {
    #skills .abilities{
        flex-direction: column;
    }
}

/* Projects 
=============== */

#projects {
    background: var(--clr-white);
    padding:2rem var(--spacing-xl);
    color:var(--clr-black);
}

#projects .decoration {
    overflow: hidden;
    display: flex;
}

#projects .title-decoration {
    animation: scrollText 15s linear infinite;
    white-space: nowrap;
    overflow: none;
    font-size: var(--fs-xl);
    color:rgb(229,229,229);
}

#projects .title {
    padding-top:1rem;
    color:var(--clr-tundora);
    font-size:var(--fs-lg)
}

#projects .container {
    display: flex;
    gap:var(--spacing-md);
    padding-top:var(--spacing-md);
}

#projects .container h3 {
    font-size:var(--fs-lg);
    color:var(--clr-tundora);
}

#projects .container p {
    max-width: 620px;
}

#projects .container .badges {
    padding:.5rem 0 2rem 0;
    display: flex;
    gap:0.5rem;
}

#projects .container .badge {
    background-color: rgb(229,229,229);
    padding:0.25rem 1rem;
    border-radius: 8px;
    line-height: 140%;
    color:var(--clr-cod-gray);
    font-family: Arial, Helvetica, sans-serif;
}

#projects .content .container img {
    max-width: 400px;
}

#projects .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:900px) {
    #projects .container {
        flex-direction: column;
        align-items: flex-start;
    };
}