
body {
    font-family: 'Inter', sans-serif;
    background: var(--clr-black);
    color:var(--clr-white);
}

/* Home
=============== */

#home {
    margin-top:var(--spacing-xxl);
    padding:0 var(--spacing-xl) var(--spacing-xxl) var(--spacing-xl);
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    gap:var(--spacing-lg);
}

#home .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#home .content .left {
    padding-top:var(--spacing-xxl);
}

#home .content .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#home .content .right .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
    align-items: flex-end;
    justify-content: end;
}

#home .link {
    color: white;
    border-bottom: solid 2px lightgray;
}

#home .link:hover {
    cursor: pointer;
}

#home .content .right .container .block {
    color:rgba(255,255,255,0.1);
}

#home .desc-part {
    padding-bottom: 1rem;
}

#home h1 {
    padding-bottom: 1rem;
}

#home .title .role {
    background: linear-gradient(90deg, rgb(0, 124, 240), rgb(0, 223, 216));
    background-clip: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#home .text {
    max-width: 720px;
}

#home .primary-btn {
    background: linear-gradient(180deg,#fff,hsla(0, 0%, 64%, 0.75));
}

@media screen and (max-width:1400px){
    #home .content .right {
        display: none;
    }
}

@media screen and (max-width:800px){
    #home {
        flex-direction: column;
    }
}

/* Hero 
=============== */

#hero {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/home.jpg") center center/cover;
    position: relative;
}

#hero .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:var(--spacing-lg) var(--spacing-xl) var(--spacing-lg) var(--spacing-xl);
    height: 100%;
}

#hero .overlay {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: absolute;
    top:0;
    z-index:-1;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:720px){
    #hero .content span {
        display: none;
    }
}

/* Biographie
=============== */

#biographie {
    padding:0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
    position: relative;
}

#biographie .decoration {
    overflow: hidden;
    display: flex;
}

#biographie .title {
    padding-bottom: var(--spacing-md);
}

#biographie .text {
    max-width: 640px;
}

#biographie .content {
    display: flex;
    gap:var(--spacing-md);
}

#biographie .content .column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex:1;
}

#biographie .title-decoration {
    white-space: nowrap;
    overflow: none;
    padding-top:2rem;
    color:rgba(255,255,255,0.05);
    animation: scrollText 15s linear infinite;
    transition: none;
}

@media (max-width:1160px) {
    #biographie .content {
        flex-direction: column;
    }

    #biographie .text {
        max-width: 760px;
    }
}


/* Skills 
=============== */

#skills {
    padding:0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
    background: black;
}

#skills .decoration {
    overflow: hidden;
    display: flex;
}

#skills .title-decoration {
    white-space: nowrap;
    overflow: none;
    padding-top:2rem;
    color:rgba(255,255,255,0.05);
    animation: scrollText 15s linear infinite;
    transition: none;
}

#skills > .subtitle {
    padding-top:1rem;
    margin-bottom:2rem;
}

#skills > .abilities {
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

#skills .header {
    margin-bottom: 0.75rem;
}

#skills .abilities .container {
    min-width: 350px;
    width: 100%;
    padding: 1.5rem;
    flex:1;
    border: solid 2px rgb(20,20,20);
    transition: background-color 250ms ease;
    position: relative;
}

#skills .abilities .deco {
    opacity: 1;
    display: none;
    right:-20px;
    position: absolute;
    color: white;
    font-weight:900;
    font-size: 2rem;
    z-index: 0;
    bottom:-15px;
    right: 16px;
    transition: right 2s ease;
}

#skills .abilities .container:hover {
    background-color: #203E57;
    border-color: black;
}

#skills .abilities .container:hover .deco {
    right:8px;
    display: block;
}

#skills .abilities .container  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#skills .abilities .container .content .text {
    padding-bottom:1rem;
}

#skills .abilities .container .list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap:0.5rem;
}

#skills .attributes .container.p-top{
    padding-top: 2rem;
}

#skills .attributes .container {
    max-width:540px;
}

#skills .attributes {
    padding:2rem 0;
}

@keyframes text-moving {
    100%{transform: translateX(-1190px);}
}

@media (max-width:516px) {
    #skills > .abilities {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #skills .abilities .container { 
        min-width: 250px;
    }
    #skills .abilities .container { 
        padding:1rem;
    }
    #skills .abilities .container .header {
        gap:0.5rem;
    }
    #skills header {
        margin-bottom: 0.5rem;
    }
}

/* Projects 
=============== */

#projects {
    background: rgb(239,239,239);
    padding:2rem var(--spacing-xl);
    color:var(--clr-black);
}

#projects .content {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-sm);
}

#projects .subtitle {
    padding-top:1rem;
    color:var(--clr-tundora);
}

#projects .container {
    display: flex;
    gap:var(--spacing-md);
    padding-top:var(--spacing-md);
}

#projects .container h3 {
    color:var(--clr-tundora);
}

#projects .container p {
    max-width: 620px;
}

#projects .container .badges {
    padding:.5rem 0 var(--spacing-md) 0;
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
}

#projects .container .badge {
    display: inline-block;
    background-color: rgb(219,219,219);
    padding:0.25rem 1rem;
    border-radius: 8px;
}

#projects .container img {
    width: 400px;
}

#projects .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle-follow-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);
    width: 120px;
    height:120px;
}

@media (max-width:900px) {
    #projects .container {
        flex-direction: column;
    };
    #projects .container img {
        width: 100%;
        max-width: none;
    }
}