#header {
    margin-top: 1rem;
    padding: var(--spacing-md) var(--spacing-xl);
    border-radius: 12px;
    margin: 0 auto;
    max-width: 1500px;
    z-index: 10;
    transition: top 250ms;
}
#header .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .blur-overlay {
    z-index: 50;
    display:none;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(4px);
}
#header .nav .nav-items {
    display: flex;
    align-items: center;
}
#header .nav .nav-item {
    padding: 0.25rem 0.75rem;
}
#header .nav .logo {
    line-height: 103%;
    vertical-align: bottom;
}

#header .nav #fullscreenMenu .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md) var(--spacing-xl) 0 var(--spacing-xl);
}
#header .nav #fullscreenMenu .main {
    padding: 0 var(--spacing-xl);
}
#header .nav #fullscreenMenu .main a {
    font-size: var(--fs-600);
    font-weight: 700;
    color: black;
}
#header .nav #fullscreenMenu .main h3 {
    white-space: nowrap;
    color: rgb(215, 215, 215);
    font-size: 6rem;
    padding: 1rem 0;
}
#header .submenu-wrapper {
    display: none;
    position: absolute;
    top: 3.25rem;
    padding: 1.5rem 0;
    transition: left 200ms;
    z-index: 999;
}
#header .menu {
    display: flex;
    max-width: 450px;
    border: solid 1px var(--border-primary);
    background: var(--background-blur);
    backdrop-filter: blur(100px);
    border-radius: 12px;
}
#header .menu .content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: 350px;
}
#header .menu .content .container {
    padding: 0.75rem;
    border-radius: 8px;
}
#header .menu .content .container:hover {
    background: rgba(255, 255, 255, 0.075);
    cursor: pointer;
}

@media (max-width: 720px) {
    #header .dynamic-text {
        display: none;
    }
}
/* Mobile menu 
  =============== */
#header #toggleMenu {
    display: none;
    color: white;
}
#header #fullscreenMenu {
    display: none;
    width: 500px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 16px;
    z-index: 1000;
}
#header .circle-expand {
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
}
#header .menu-open {
    display: block;
    transform: scale(1);
    opacity: 1;
}

#header.contracted {
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    top: 1rem;
    position: sticky;
}

@media (max-width: 920px) {
    #header #toggleMenu {
        display: block;
    }
    #header .nav .mail {
        display: none;
    }
    #header .nav .nav-items {
        display: none;
    }
    #header.contracted {
        top: 0;
        background: black;
        border-radius: 0px;
        border-bottom: solid var(--background-muted-dark) 2px;
    }
}

@media screen and (max-width:640px) {
    #header #fullscreenMenu {
        width: 90%;
    }
}