html {
    overflow-x: hidden;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

/* Home
=============== */

#home {
    padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-xxl)
        var(--spacing-xl);
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

#home .content {
    width: 100%;
    display: flex;
    padding-top: var(--spacing-xxl);
    justify-content: space-between;
}

#home .content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(20,20,20,0.4);
    backdrop-filter: blur(30px);
    padding:2rem 0.5rem;
    border-radius: 8px;
    gap: 3rem;
}

#home .content .right {
    text-align: center;
}

#home .content .right .container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
}

#home .content .right .container .block {
    color: var(--background-muted);
}

#home .desc-part {
    padding-bottom: 1rem;
}

#home h1 {
    padding-bottom: 1rem;
}

#home .text {
    max-width: 720px;
}

#home .actions .container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1.5rem;
    border: solid 2px rgb(20, 20, 20);
}

.gradient-circle {
    width: 500px;
    height: 500px;
    background: radial-gradient(
        circle,
        rgba(20, 110, 245, 0.95) 0%,
        rgba(0, 0, 0, 0) 66%
    );
    right: -250px;
    top: -250px;
    position: absolute;
    opacity: 0.6;
    border-radius: 50%;
    z-index: -1;
}

@media screen and (max-width: 1300px) {
    #home .content .right , .deco-sphere{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #home {
        flex-direction: column;
    }
    #home h1 .deco {
        display: none;
    }
}

.deco-sphere {
    animation: deco-sphere 6s ease-in-out infinite;
}

@keyframes deco-sphere {
    0%{bottom:0px}
    50%{bottom:40px}
    100%{bottom:0px}
}

@media screen and (max-width:1200px) {
    .deco-sphere {
        display:none
    }
}

/* Biographie
=============== */

#biographie {
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
    position: relative;
}

#biographie .decoration {
    overflow: hidden;
    display: flex;
}

#biographie .title {
    padding-bottom: var(--spacing-md);
}

#biographie .text {
    max-width: 640px;
}

#biographie .content {
    display: flex;
    gap: var(--spacing-sm);
}

#biographie .content .column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex: 1;
}

@media (max-width: 1160px) {
    #biographie .content {
        flex-direction: column;
    }

    #biographie .text {
        max-width: 760px;
    }
}

/* Skills 
=============== */

#skills {
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
}

#skills .decoration {
    overflow: hidden;
    display: flex;
}

#skills > .subtitle {
    padding-top: 4rem;
}

#skills > .abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#skills .header {
    margin-bottom: 0.75rem;
}

#skills .abilities .container {
    min-width: 350px;
    width: 100%;
    flex: 1;
    border-radius: 8px;
    background: var(--background-muted);
    transition: background-color 250ms ease;
    position: relative;
}

#skills .abilities .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

#skills .abilities .container .header {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#skills .abilities .container .header .icone {
    height: 10px;
    width: 10px;
}

#skills .abilities .container .header img {
    width: 40px;
    height: 40px;
}

#skills .abilities .container .content .text {
    padding-bottom: 1rem;
}

#skills .abilities .container .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#skills .attributes .container.p-top {
    padding-top: 2rem;
}

#skills .attributes .container {
    max-width: 540px;
}

#skills .attributes {
    padding: 2rem 0;
}

@keyframes text-moving {
    100% {
        transform: translateX(-1190px);
    }
}

@media (max-width: 516px) {
    #skills > .abilities {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #skills .abilities .container {
        min-width: 250px;
    }
    #skills .abilities .container .header {
        gap: 0.5rem;
    }
    #skills header {
        margin-bottom: 0.5rem;
    }
}

/* Projects 
=============== */

#projects {
    padding: 2rem var(--spacing-xl);
}

#projects .content {
    display: flex;
    position: relative;
    gap: var(--spacing-sm);
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 2rem;
}

#projects .header {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#projects .btn-group {
    display: flex;
    gap: 1rem;
}

#projects .arrow-btn {
    font-size: var(--fs-400);
}

#projects .arrow-btn:hover {
    cursor: pointer;
}

#projects .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    padding-top: var(--spacing-md);
    width: 400px;
    max-width: 400px;
}

#projects .container p {
    max-width: 620px;
}

#projects .container .badges {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#projects .container .badge {
    display: inline-block;
    background-color: var(--background-muted-dark);
    padding: 0.25rem 1rem;
    border-radius: 8px;
}

#projects .container img {
    width: 100%;
}

#projects .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.circle-follow-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    width: 120px;
    height: 120px;
}

@media (max-width: 900px) {
    #projects .container {
        width: 325px;
        max-width: 325px;
    }
}

/* Technologies 
=============== */

#technologies {
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
}

#technologies .technologies {
    background: rgb(10,10,10);
    border-radius: 12px;
    padding: var(--spacing-md);
}

#technologies .content h2 {
    padding-bottom: 1.5rem;
    padding-top: 4rem;
}

#technologies h3 {
    font-weight: 700;
}

#technologies .content .badges {
    padding: 0.5rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#technologies .content .badge {
    display: inline-block;
    background-color: var(--background-muted-dark);
    color: white;
    font-weight: 700;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}

/* Parcours 
=============== */

#parcours {
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-md);
}

#parcours h2 {
    margin-top: 4rem;
}

#parcours .content .container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px) {
    #parcours .content .container {
        justify-content: start;
        align-items: start;
        gap: 1rem;
        flex-direction: column;
    }
}
