html {
    overflow-x: hidden;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

/* Home
=============== */

#home h1 {
    background: linear-gradient(60deg, #ffffff, #8a8989);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
    #home .content .right , .deco-sphere{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #home {
        flex-direction: column;
    }
    #home h1 .deco {
        display: none;
    }
}

.deco-sphere {
    animation: deco-sphere 6s ease-in-out infinite;
}

@keyframes deco-sphere {
    0%{bottom:0px}
    50%{bottom:40px}
    100%{bottom:0px}
}

@media screen and (max-width:1200px) {
    .deco-sphere {
        display:none
    }
}
