
#header {
    padding: var(--spacing-md) var(--spacing-xl) 0 var(--spacing-xl);
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;

    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-items {
            display: flex;
            align-items: center;
        }

        .nav-item {
            padding: 0.25rem 0.75rem;
        }

        .logo {
            // Afin d'aligner le logo avec la navbar
            line-height: 103%;
            vertical-align: bottom;
        }
    }

    .submenu-wrapper {
        display: none;
        position: absolute;
        top:3.25rem;
        padding: 1.5rem 0;
        transition: left 200ms;
        z-index: 999;
    }

    .menu {
        display: flex;
        max-width: 450px;
        border: solid 1px var(--border-primary);
        background: var(--background-blur);
        backdrop-filter: blur(100px);
        border-radius: 12px;

        .content {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            min-width: 350px;

            .container {
                padding: 0.75rem;
                border-radius: 8px;
            }
        
            .container:hover {
                background: rgba(255, 255, 255, 0.075);
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 720px) {
    #header .dynamic-text {
        display: none;
    }
}

/* Mobile menu 
  =============== */
#header {
    #toggleMenu {
        display: none;
        color: white;
    }

    .fullscreen-menu {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 1000;
    }

    .menu-open {
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .circle-expand {
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
    }

    .menu-open {
        display: block;
        transform: scale(1);
        opacity: 1;
    }
} 

@media (max-width: 920px) {
    #header .nav .nav-items {
        display: none;
    }

    #header .nav .mail {
        display: none;
    }

    #header #toggleMenu {
        display: block;
    }
}