* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--clr-black);
    color:var(--clr-white);
}

a:hover {
    cursor: pointer;
}