/* Header
=============== */

#presentation {
    display: flex;
    gap: var(--spacing-lg);
    max-width: 1500px;
    margin: 0 auto;
    padding: var(--spacing-xxl) var(--spacing-xl) 4rem var(--spacing-xl);
}

#presentation .badges {
    padding-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: var(--spacing-md);
}

#presentation .badge {
    display: inline-block;
    background-color: var(--background-muted-dark);
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}

#presentation .info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

@media screen and (max-width: 780px) {
    #presentation .badge {
        padding: 0.2rem 0.5rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    #presentation {
        flex-direction: column;
        gap: var(--spacing-md);
    }
}

/* Infos 
=============== */

#info {
    padding: 0 var(--spacing-xl);
    max-width: 1500px;
    margin: 0 auto;
}

#info .content {
    border-radius: 8px;
    border: solid 2px var(--background-muted-light);
    background: var(--background-muted-light);
    padding: var(--spacing-md) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

#info p {
    font-size: var(--fs-200);
}

#info .content div {
    width: 100%;
    text-align: center;
    flex: 1;
    min-width: 250px;
}

#info .content .category {
    font-weight: 700;
}

/* Sections
=============== */

#sections {
    display: flex;
    align-items: flex-start;
    max-width: 1500px;
    margin: 0 auto;
    gap: 4rem;
    padding: var(--spacing-xxl) var(--spacing-xl);
}

#sections #aside {
    min-width: 300px;
    position: sticky;
    top: 3rem;
}

#sections #aside .content {
    border: solid 2px var(--background-muted-light);
    background: var(--background-muted-light);
    border-radius: 8px;
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
}

#sections > .content {
    display: flex;
    max-width: 720px;
    flex-direction: column;
    gap: var(--spacing-md);
}

#sections #aside p {
    padding-bottom: 1rem;
}

#sections #aside li {
    gap: 1rem;
}

#top-link {
    display: block;
    padding: var(--spacing-sm2) var(--spacing-sm);
}

#sections h3 {
    color: white;
    font-size: var(--fs-400);
    padding-bottom: var(--spacing-sm3);
}

@media screen and (max-width: 1100px) {
    #sections #aside {
        display: none;
    }
    #sections #aside {
        display: none;
    }
}

/*  Contexte
=============== */

#context .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

/* Apprentissages 
=============== */

#skills .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

#sections p {
    font-size: var(--fs-200);
    color: var(--text-primary);
}

#sections h2 {
    font-size: var(--fs-700);
    font-weight: 900;
}

p {
    line-height: 27px;
}
