
main {
    padding:var(--spacing-xxl) var(--spacing-xl) 4rem var(--spacing-xl);
    max-width: 1500px;
    margin: 0 auto;
}

p {
    max-width: 900px;
}

h2 {
    padding-bottom: .5rem;
}

.goals {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap:1.5rem;
}

.goals h3 {
    color:gray;
    padding-bottom: .25rem;
}