a , button {
    background:none;
    border:none;
    outline: none;
    text-decoration: none;
    color:white;
}

u {    
    border-bottom: 1px dotted white;
    color:var(--text-primary);
    text-decoration: none;
}

ul {
    list-style: none;
}